body {
  padding-top: 70px; /* Отступ сверху для фиксации */
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Высота на весь экран */
  width: 100%; /* На всю ширину */
  margin: 0;
  padding: 0;
}

#navbar {
  flex: 0 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #bcbec0; /* Цвет фона */
  z-index: 1000; /* Уровень слоя (над остальными элементами) */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
  padding-bottom: 2px;
  border-bottom: 2px solid #007bff
}

/* Внешний контейнер */
.content-container {
  padding: 20px; /* Внешние отступы вокруг контента */
  background-color: #f8f9fa; /* Светло-серый фон */
  min-height: 100vh; /* Растягиваем контейнер на высоту экрана */
  display: flex;
  flex-direction: column; /* Для вертикального расположения */
  overflow-y: auto; /* Включаем прокрутку для всей страницы */
}

/* Контентный блок */
.content {
  width: 100%; /* Занимает всю ширину */
  margin-bottom: 20px;
  background-color: #fff; /* Белый фон */
  border-radius: 10px; /* Закругленные края */
  box-shadow: 0px 4px 8px rgba(49, 47, 47, 0.1); /* Тень для объема */
  display: flex;
  flex-direction: column; /* Все элементы внутри контента идут вертикально */
  flex-grow: 1; /* Контент растягивается на доступную высоту */
}

.navbar-nav {
  display: flex;
  justify-content: flex-end; /* Aligns the buttons to the right of the navbar */
  width: 100%;
}

.nav-item {
  display: flex;
  align-items: center; /* Aligns buttons vertically in the center */
}

.button-container {
  display: flex;
  gap: 10px; /* Adds space between the buttons */
}

.addcategory {
  width: 200px; 
  height: 40px;
  margin-right: 15px;
  padding: 12px 24px; 
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px; 
}

.addcategory:hover {
  background-color: #0056b3;
}

.logout-btn {
  width: 130px;
  height: 40px;
  padding: 8px 16px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #c82333;
}

.container-foot {
  width: 100%; /* На всю ширину экрана */
  padding: 0; /* Убираем отступы */
  margin: 0; /* Убираем внешние отступы */
  margin-left: 0px;
  margin-right: 0px;
  max-width: 1700px;
}

.footer-container {
  width: 100%; /* Растягиваем футер на всю ширину */
  background-color: #c7c7c7;; /* Цвет фона футера */
  text-align: center; /* Центрируем текст */
  padding: 1rem; /* Внутренние отступы для футера */
  border-radius: 10px;
  border-top: 2px solid #749bc3; /* Линия сверху */
  justify-content: space-between; /* Распределяем элементы по краям */
  align-items: center; /* Вертикальное выравнивание */
}

.footer-content {
  display: flex;
  height: 140px;
  justify-content: space-between; /* Распределяет элементы по горизонтали */
  width: 100%; /* Занимает всю ширину контейнера */
}

.footer-left {
  display: flex;
  flex-direction: column; /* Текстовые элементы будут располагаться вертикально */
  text-align: left; /* Выравнивание текста по левому краю */
}

.footer-left p {
  margin: 0; /* Убираем отступы между абзацами */
}

.footer-content ul {
  margin-bottom: 0;
}

.footer-content a {
  color: #007bff;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.footer-center {
  text-align: center;
  flex-grow: 1; /* Это позволяет контейнеру быть растянутым и оставаться по центру */
  margin-top: 20px;
}

.footer-center a {
  color: #007bff;
  text-decoration: none;
}

.footer-center a:hover {
  text-decoration: underline;
}